<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	SELECT COUNT(*) AS COUNT FROM BOARD WHERE DELETE_STATUS='N'
	</entry>
	<entry key="selectBoardList">
	SELECT *
FROM
(SELECT ROWNUM RNUM, A.*
FROM
(SELECT BOARD_NO, BOARD_TITLE , BOARD_DATE, MEMBER_ID, COUNT, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD.BOARD_NO=COMMENTS.BOARD_NO AND STATUS='N') "REPLY_COUNT"
FROM BOARD
JOIN MEMBER USING (MEMBER_NO)
WHERE DELETE_STATUS='N'
ORDER BY BOARD_NO DESC) A)
WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="increaseCount">
    UPDATE BOARD SET COUNT=COUNT+1 WHERE BOARD_NO=? AND DELETE_STATUS='N'
    </entry>
	<entry key="selectBoard">
	SELECT BOARD_NO, BOARD_TITLE , BOARD_CONTENT , BOARD_DATE, MEMBER_ID ,ATTACHMENT_NAME, ATTACHMENT_PATH, COUNT, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD.BOARD_NO=COMMENTS.BOARD_NO AND STATUS='N') "REPLY_COUNT"
FROM BOARD
JOIN MEMBER USING(MEMBER_NO)
WHERE DELETE_STATUS='N' AND WITHDRAW_STATUS ='N' AND BOARD_NO=?
	</entry>
	<entry key="insertBoard">
	INSERT INTO BOARD (BOARD_NO,BOARD_TITLE,BOARD_CONTENT,ATTACHMENT_PATH,ATTACHMENT_NAME,MEMBER_NO)
VALUES (SEQ_BNO.NEXTVAL, ?, ?, ?, ?, ?)
	</entry>
	<entry key="insertReply">
    INSERT INTO COMMENTS(COMMENT_NO, COMMENT_CONTENT,BOARD_NO, MEMBER_NO) VALUES (SEQ_RNO.NEXTVAL, ?, ?, ?)
    </entry>
    <entry key="selectReplyList">
    SELECT COMMENT_NO, COMMENT_CONTENT, MEMBER_ID, TO_CHAR(COMMENT_DATE, 'YYYY/MM/DD HH:MI:SS') "COMMENT_DATE"
FROM COMMENTS
JOIN MEMBER USING (MEMBER_NO)
WHERE BOARD_NO=? AND STATUS='N' 
ORDER BY COMMENT_DATE DESC
    </entry>
    <entry key="deleteBoard">
    UPDATE BOARD SET DELETE_STATUS ='Y' WHERE BOARD_NO =?
    </entry>
    <entry key="updateBoard">
    UPDATE BOARD SET BOARD_TITLE=?, BOARD_CONTENT=?, ATTACHMENT_PATH=?, ATTACHMENT_NAME=?, BOARD_DATE=SYSDATE 
WHERE BOARD_NO=?
    </entry>
    <entry key="boardSearchAll">
    SELECT *
FROM
(SELECT ROWNUM RNUM, A.*
FROM
(SELECT BOARD_NO, BOARD_TITLE , BOARD_DATE, MEMBER_ID, COUNT
FROM BOARD
JOIN MEMBER USING (MEMBER_NO)
WHERE DELETE_STATUS='N' AND (BOARD_TITLE || BOARD_CONTENT LIKE ?)
ORDER BY BOARD_NO DESC) A)
WHERE RNUM BETWEEN ? AND ?
    </entry>
    <entry key="boardSearchTitle">
    SELECT *
FROM
(SELECT ROWNUM RNUM, A.*
FROM
(SELECT BOARD_NO, BOARD_TITLE , BOARD_DATE, MEMBER_ID, COUNT
FROM BOARD
JOIN MEMBER USING (MEMBER_NO)
WHERE DELETE_STATUS='N' AND BOARD_TITLE LIKE ?
ORDER BY BOARD_NO DESC) A)
WHERE RNUM BETWEEN ? AND ?
    </entry>
    <entry key="boardSearchContent">
    SELECT *
FROM
(SELECT ROWNUM RNUM, A.*
FROM
(SELECT BOARD_NO, BOARD_TITLE , BOARD_DATE, MEMBER_ID, COUNT
FROM BOARD
JOIN MEMBER USING (MEMBER_NO)
WHERE DELETE_STATUS='N' AND BOARD_CONTENT LIKE ?
ORDER BY BOARD_NO DESC) A)
WHERE RNUM BETWEEN ? AND ?
    </entry>
    <entry key="boardSearchId">
    SELECT *
FROM
(SELECT ROWNUM RNUM, A.*
FROM
(SELECT BOARD_NO, BOARD_TITLE , BOARD_DATE, MEMBER_ID, COUNT
FROM BOARD
JOIN MEMBER USING (MEMBER_NO)
WHERE DELETE_STATUS='N' AND MEMBER_ID LIKE ?
ORDER BY BOARD_NO DESC) A)
WHERE RNUM BETWEEN ? AND ?
    </entry>
    <entry key="deleteReply">
    UPDATE COMMENTS SET STATUS='Y' 
WHERE COMMENT_NO=? AND BOARD_NO=?
    </entry>
</properties>
