<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectBoardList">
	SELECT BOARD_NO, BOARD_TITLE , BOARD_CONTENT , BOARD_DATE, MEMBER_NO  
FROM BOARD
WHERE DELETE_STATUS='N'
	</entry>

</properties>
