<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="searchReview">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND A.DELETE_STATUS = 'N'
	</entry>

	<entry key="searchReview123">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND SEASON = ?
		AND AGE = ?
		AND GROUP_WITH = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	
	<entry key="searchReview12">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND SEASON = ?
		AND AGE = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	<entry key="searchReview2">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND AGE = ?
		AND A.DELETE_STATUS = 'N'
	</entry>	
	<entry key="searchReview23">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND AGE = ?
		AND GROUP_WITH = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	<entry key="searchReview3">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND GROUP_WITH = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	<entry key="searchReview13">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND SEASON = ?
		AND GROUP_WITH = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	<entry key="searchReview1">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
			  FROM REVIEW
			  JOIN MEMBER USING (MEMBER_NO)
			  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
        JOIN PLACE USING (PLACE_NO)
		WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
		AND SEASON = ?
		AND A.DELETE_STATUS = 'N'
	</entry>
	
	
	<entry key="selectReview">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, REVIEW.DELETE_STATUS, AGE, SEASON, GROUP_WITH, REVIEW.PLACE_NO, PLACE_NAME, MEMBER_ID, LIKES
		FROM REVIEW
		JOIN MEMBER USING (MEMBER_NO)
		JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
		            FROM RECOMMEND
		            GROUP BY REVIEW_NO
		            ORDER BY LIKES DESC) A USING (REVIEW_NO)
		JOIN PLACE ON (REVIEW.PLACE_NO = PLACE.PLACE_NO)
		WHERE REVIEW_NO = ?
		AND REVIEW.DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectReviewAttachment">
		SELECT *
		FROM REVIEW_ATTACHMENT
		JOIN REVIEW USING (REVIEW_NO)
		WHERE REVIEW_NO = ?
		AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectBestReviews">
		SELECT REVIEW_NO, LIKES
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT REVIEW_NO, COUNT(*) LIKES
			        FROM RECOMMEND
			        GROUP BY REVIEW_NO
			        ORDER BY LIKES DESC) A)
		WHERE RNUM BETWEEN 1 AND 3
	</entry>
	
	<entry key="selectBestCategoryReviews">
		SELECT REVIEW_NO, LIKES
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT REVIEW_NO, COUNT(*) LIKES
			        FROM RECOMMEND
			        JOIN (	SELECT *
							FROM REVIEW
							JOIN PLACE USING (PLACE_NO)
							WHERE PLACE_CATEGORY = ?) USING (REVIEW_NO)
			        GROUP BY REVIEW_NO
			        ORDER BY LIKES DESC) A)
		WHERE RNUM BETWEEN 1 AND 3
	</entry>
	
	<entry key="showMyReviews">
		SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
		FROM REVIEW
		JOIN PLACE USING (PLACE_NO)
		JOIN MEMBER USING (MEMBER_NO)
		JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
			        FROM RECOMMEND
			        JOIN (	SELECT *
							FROM REVIEW
							JOIN PLACE USING (PLACE_NO)) USING (REVIEW_NO)
			        GROUP BY REVIEW_NO) A USING (REVIEW_NO)
		WHERE MEMBER_NO = ?
		AND REVIEW.DELETE_STATUS = 'N'
        ORDER BY REVIEW_DATE DESC
	</entry>
	
	<entry key="myReviewList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, B.*
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
					FROM REVIEW
					JOIN PLACE USING (PLACE_NO)
					JOIN MEMBER USING (MEMBER_NO)
					JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
						        FROM RECOMMEND
						        JOIN (	SELECT *
										FROM REVIEW
										JOIN PLACE USING (PLACE_NO)) USING (REVIEW_NO)
						        GROUP BY REVIEW_NO) A USING (REVIEW_NO)
					WHERE MEMBER_NO = ?
					AND REVIEW.DELETE_STATUS = 'N'
			        ORDER BY REVIEW_DATE DESC) B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="isLiked">
		SELECT *
		FROM RECOMMEND
		WHERE REVIEW_NO = ?
		AND MEMBER_NO = ?
	</entry>
	
		
	<entry key="deleteLike">
		DELETE FROM RECOMMEND
		WHERE REVIEW_NO = ?
		AND MEMBER_NO = ?
	</entry>
	
	<entry key="likeReview">
		INSERT INTO RECOMMEND
		VALUES (?, ?)
	</entry>	
	
	<entry key="searchReviewList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="searchReviewList123">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND SEASON = ?
				AND AGE = ?
				AND GROUP_WITH = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="searchReviewList12">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND SEASON = ?
				AND AGE = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchReviewList2">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND AGE = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>	
	<entry key="searchReviewList23">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND AGE = ?
				AND GROUP_WITH = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchReviewList3">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND GROUP_WITH = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchReviewList13">
				SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND SEASON = ?
				AND GROUP_WITH = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchReviewList1">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, A.DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, DELETE_STATUS, AGE, SEASON, GROUP_WITH, PLACE_NO, MEMBER_ID, LIKES
					  FROM REVIEW
					  JOIN MEMBER USING (MEMBER_NO)
					  JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
				            FROM RECOMMEND
				            GROUP BY REVIEW_NO
				            ORDER BY LIKES DESC) USING (REVIEW_NO)) A
		        JOIN PLACE USING (PLACE_NO)
				WHERE ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND SEASON = ?
				AND A.DELETE_STATUS = 'N') B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="myReviewSearchList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, B.*
			FROM (SELECT REVIEW_NO, SCORE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE, AGE, SEASON, GROUP_WITH, PLACE_NAME, MEMBER_ID, LIKES
				FROM REVIEW
				JOIN PLACE USING (PLACE_NO)
				JOIN MEMBER USING (MEMBER_NO)
				JOIN (SELECT REVIEW_NO, COUNT(*) LIKES
					        FROM RECOMMEND
					        JOIN (	SELECT *
									FROM REVIEW
									JOIN PLACE USING (PLACE_NO)) USING (REVIEW_NO)
					        GROUP BY REVIEW_NO) A USING (REVIEW_NO)
				WHERE MEMBER_NO = ?
				AND ((REVIEW_TITLE LIKE ?) OR (REVIEW_CONTENT LIKE ?))
				AND REVIEW.DELETE_STATUS = 'N'
		        ORDER BY REVIEW_DATE DESC) B)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="insertReview">
	INSERT INTO REVIEW (REVIEW_NO,SCORE,REVIEW_TITLE,REVIEW_CONTENT,AGE,SEASON,GROUP_WITH,PLACE_NO,MEMBER_NO)
VALUES(SEQ_MNO.NEXTVAL,?,?,?,?,?,?,1,?)
	</entry>
	<entry key="insertReviewAttachment">
	INSERT INTO REVIEW_ATTACHMENT (FILE_PATH,FILE_NO,FILE_NAME,REVIEW_NO,FILE_LEVEL) VALUES(?,SEQ_RNO.NEXTVAL,?,SEQ_RNO.CURRVAL,?)
	</entry>
</properties>
