@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap');

div {
    font-family: 'IBM Plex Sans KR';
    box-sizing: border-box;
}

#footer {
    color: white;
    border-bottom: white;
    background-color: #00b8ff;
    width: 1200px;
    height: 170px;
    margin: auto;
}

#footer>div {
    width: 100%;
}

#footer_1 {
    height: 20%;
    padding-top: 10px;
    padding-left: 10px;
}



#footer_2>p {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
}

#p1 {
    height: 80%;
    padding: 10px 15px;
    color: #CCEDF9;
}

#p2 {
    height: 20%;
    text-align: center;
    color: #CCEDF9;
}

#footer_1>a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

hr {
    border-style: solid;
    border-color: #ccedf992;
    border-width: 1px 0px 0px 0px;
    height: 1px;
    margin-top: 10px;
}

img {
    width: 27px;
}

#instagram {
    padding-right: 15px;
    padding-left: 4px;
}

#footer>#footer_1>a:hover {
    color: #FFCA29;
}